@model ApplicationCore.Models.ResponseModel.TaskResponseModel


<h1>Create Task</h1>

<div class="row">

    <div class="col-md-4">
        <form asp-action="Add">

            <div asp-validation-summary="ModelOnly"></div>

            <div class="form-group">
                <label asp-for="EmpId">Employee Name</label>
                <input asp-for="EmpFirstName" name="@ViewBag.name" class="form-control" disabled>
                <input asp-for="EmpId" class="form-control" hidden>
                <span asp-validation-for="EmpId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TaskName">Task Name</label>
                <input asp-for="TaskName" class="form-control">
                <span asp-validation-for="TaskName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartTime">Start Time</label>
                <input asp-for="StartTime" type="datetime-local" class="form-control">
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Deadline">Deadline</label>
                <input asp-for="Deadline" type="datetime-local" class="form-control">
                <span asp-validation-for="Deadline" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Create</button>
            <a type="button" class="btn btn-success ml-2" asp-controller="EmployeeTask" asp-action="ListAllTask" asp-route-id="@Model.EmpId">Cancel</a>
        </form>

    </div>
</div>